* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER/NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: #f4f2ed;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 15px;
  float: left;   
  font-size: 20px;
  color: black;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

header nav a:hover {
  color: inherit;
  text-decoration: underline 0.15em black;
  text-decoration-color: black;
}

header h2 {
  font-size: 48px;
  color: black;
}
/* HEADER/NAV BAR STYLES END */

/* FOOTER STYLES START */
footer {
  background-color: #f4f2ed;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}
/* FOOTER STYLES END */

/* SECTION STYLES START */
section {
  margin-bottom: 150px;
  padding: 50px;
  height: 300px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section h2 {
  font-size: 35px;
  flex: 1 30%;
}

.section-info {
  flex: 2 70%;
  display: flex;
  align-items: center;
}
/* SECTION STYLES END */

/* "ABOUT ME" STYLES START */
.about-me p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 15px;
}

.about-me img {
  max-height: 350px;
}
/* "ABOUT ME" STYLES END */

/* "MY WORK" STYLES START */

.container {
  position: relative;
}

.text-block {
  position: absolute;
  left: 0pt;
  height: 30px;
  padding-left: 7px;
  padding-right: 5px;
  background-color: #f4f2ed;
  color: black;
}

.text-block h2 {
  font-size: 25px;
}

/* RUN BUDDY */
.run-buddy-img {
  height: 200px;
  width: 600px;
  background-image: url("images/run-buddy.png");
  background-size: cover;
  background-position: center top;
  display: block;
  margin-right: 75px;
  margin-bottom: 10px;
  border: 5px solid #f4f2ed;
}

.run-buddy-img:hover {
  opacity: .5;
}

/* HORISEON */
.horiseon-img {
  height: 150px;
  width: 300px;
  background-image: url("images/horiseon.png");
  background-size: cover;
  background-position: center;
  display: block;
  border: 5px solid #f4f2ed;
}

.horiseon-img:hover {
  opacity: .5;
}

/* "MY WORK" STYLES END */

/* "CONTACT" STYLES START */
.contact a {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;  
}
/* "CONTACT" STYLES END */

